#project {
  background-image: linear-gradient(
    to left,
    rgb(136, 116, 198),
    rgb(231, 225, 243)
  );
  min-height: 100vh;
  padding: 3rem 2rem;
}
.carousel-item-padding {
  padding: 0 12px;
}
