#project {
  background-image: linear-gradient(
    to left,
    rgb(136, 116, 198),
    rgb(231, 225, 243)
  );
  min-height: 100vh;
  padding: 3rem 2rem;
}

.carousel-item-padding {
  padding: 0 12px;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  text-decoration: none !important;
  color: inherit !important;
}

.react-multi-carousel-item {
  height: 100%;
}
