.aboutpic{
  max-height: 35rem;
  mix-blend-mode:lighten;
}
.abouttxt{
  text-align: justify !important;

}
#webintro{
  padding-bottom: 5rem;
  
}
#sobre{
  margin-bottom:3rem;
  padding: 2rem 1.5rem;
}