.aboutpic {
  max-height: 35rem;
  mix-blend-mode: lighten;
}

#webintro {
  padding-bottom: 2rem;
}

#sobre {
  margin-bottom: 3rem;
  padding: 2rem 1.5rem;
}

#sobre h2 {
  text-align: center;
}

#abouttxt {
  text-align: justify;
}
