.heading {
	color: aliceblue;
	padding: 20vh 20vw;
}
/* parte de apresentação */

#intro {
	max-height: fit-content;
	text-align: left;
	padding-top: 2rem;
	font-size: 3rem;
}
.nome {
	background: -webkit-linear-gradient(left, #00ff00, #ffd700 90%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.profile {
	min-width: 17rem;
}
#propic {
	height: 50%;
	margin: 0 auto;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
	border-radius: 5%;
}

/* Buttons */
.icon {
	position: relative; /* Add this */
	background-color: #ffffff;
	border-radius: 50%;
	margin: 6rem 1rem 6rem 1rem;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	display: inline-block;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	color: #333;
	text-decoration: none;
	align-self: center;
}

.tooltip {
	position: absolute;
	top: 110%;
	left: 50%; /* Position the tooltip below the icon and center it horizontally */
	transform: translateX(-50%);

	font-size: 1.4rem;
	background-color: #ffffff;
	color: #ffffff;
	padding: 0.5rem 0.8rem;
	border-radius: 0.5rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
	position: absolute;
	content: '';
	height: 0.8rem;
	width: 0.8rem;
	background-color: #ffffff;
	bottom: -0.3rem;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
	top: -4.5rem;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
	background-color: #0e76a8;
	color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
	background-color: #333333;
	color: #ffffff;
}
.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
	background-color: #25d366;
	color: #ffffff;
}

.wrapper {
	padding-right: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.curriculo {
	padding-right: 5rem;
}
.icon-container {
	position: inherit;
}
@media (max-width: 768px) {
	/* Adjust the styles for smaller screens */
	.heading {
		padding: 6vh 8vw;
	}

	#intro {
		font-size: 1.5rem;
	}

	.icon {
		margin: 2rem 1rem;
	}

	.wrapper {
		padding-right: 2rem;
	}

	.curriculo {
		padding-right: 2rem;
	}
}

@media (max-width: 576px) {
	/* Adjust the styles for even smaller screens */
	#intro {
		font-size: 1rem;
	}

	.icon {
		width: 2rem;
		height: 2rem;
		line-height: 2rem;
		font-size: 1.5rem;
		margin: 1rem 0.5rem;
	}

	.tooltip {
		font-size: 1.2rem;
	}

	.wrapper {
		padding-right: 1rem;
	}

	.curriculo {
		padding-right: 1rem;
	}
}
