.sk-img{
  width: 30px;
  height: 30px;
  margin: 1rem;

}
#skills{
  background-image: linear-gradient(to left, rgb(231, 225, 243), rgb(136, 116, 198));
  padding: 2rem 1.5rem;
}

.skills-img {
  position: relative;
  padding: 0 40px;
}

.check-icon {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: green;
}